* {
    font-family: 'Inter', sans-serif;
}

.ff-inter {
    font-family: 'Inter', sans-serif !important;
}
.ff-open-sans {
    font-family: 'Open Sans', sans-serif !important;
}
.ff-pt-sans {
    font-family: 'PT Sans', sans-serif !important;
}
.ff-host-grotesk {
    font-family: 'Host Grotesk', sans-serif !important;
}
