* {
    font-family: 'Host Grotesk', sans-serif;
}

.bg-primary-dark {
    background-color: #002155 !important;
    color: var(--bs-body-color);
}

.ff-host-grotesk {
    font-family: 'Host Grotesk', sans-serif !important;
}

.fs-09 {
    font-size: 0.9rem !important;
}
